.biruungu {
  position: static;
  width: 100%;
  height: 1200px;
  background-image: linear-gradient(to bottom, rgb(0, 29, 66) 10%, rgb(28, 159, 163), rgb(255, 89, 219));
}
.judul {
  position: absolute;
  top: 60px;
  left: 40%;
  right: 40%;
  font-family: "Parisienne", cursive;
  font-weight: bold;
  font-size: 70px;
  color: white;
  text-shadow: 0px -3px 7px rgb(0, 247, 255), 0 3px 7px rgb(255, 89, 219);
}
.sekolah {
  position: absolute;
  top: 175px;
  left: 2.5%;
  right: 2.5%;
  height: 325px;
  background: rgba(70, 23, 23, 0);
  z-index: 30;
}

.tk,
.sd,
.smp,
.sma,
.univ {
  float: left;
  background: rgba(167, 130, 61, 0);
  height: 100%;
  width: 17%;
  margin-right: 1.5%;
  margin-left: 1.5%;
}
.sekolah .tk div,
.sekolah .sd div,
.sekolah .smp div,
.sekolah .sma div,
.sekolah .univ div {
  position: absolute;
  width: 17%;
  height: 25%;
  top: 60%;
  background: rgba(0, 0, 255, 0);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  padding: 15px;
  color: white;
  text-shadow: 0px 0px 7px rgb(255, 89, 219);
  box-shadow: 0px 0px 7px rgb(0, 247, 255);
}

.sekolah .tk .tahun,
.sekolah .sd .tahun,
.sekolah .smp .tahun,
.sekolah .sma .tahun,
.sekolah .univ .tahun {
  position: absolute;
  width: 17%;
  height: 15%;
  top: 85%;
  background: rgba(0, 128, 0, 0);
  text-align: center;
  font-family: "Abel", cursive;
  font-weight: lighter;
  font-size: 20px;
  line-height: 20px;
  margin: auto;
  padding: 10px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  box-shadow: 0px 1px 5px white;
}
